.bg-High {
    background-color: var(--bg-high)!important;
}

.bg-Medium {
    background-color: var(--bg-medium)!important;
}

.bg-Low {
    background-color: var(--bg-low)!important;
}

* {
    transition: background-color 1s ease-in;
}

body.dark {
    background-color: rgba(0, 0, 0, 0.582);
}

body.light {
    background-color: rgba(0, 0, 0, 0.178);
}

body.dark .navbar {
    background-color: rgba(0, 0, 0, 0.178) !important;
}

body.light .navbar {
    background-color: rgba(199, 194, 194, 0.712) !important;
}