.wrapper {
    min-height: calc(100vh - 15px);
    margin: 15px auto 0;
}

.bg-high {
    background-color: var(--bg-high);
}

.bg-medium {
    background-color: var(--bg-medium);
}

.bg-low {
    background-color: var(--bg-low);
}

* {
    transition: background-color 1s ease-in;
}


.bg-body {
    background-color: var(--body-bg);
}


.bg-nav {
    background-color: var(--nav-bg);
}

.bg-button {
    background-color: var(--button-bg);
}