#examplesPopup {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #686608a1;
    & img {
        height: 85%;
    }
}
