.popup {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    @include flex-center;
    display: none;
    width: 100vw;
    height: 100vh;
    background: #686608a1;
    &--active {
        display: flex;
    }
    & img {
        @media (orientation: landscape) {
            height: 90%;
        }
        @media (orientation: portrait) {
            width: 90%;
        }
    }
}

.scroll-off {
    overflow: hidden;
}
