@import "./variables.scss";
@import "./fonts.scss";
@import "./popUp.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    @media (max-width: 51.2em) {
        font-size: 55%;
    }
    @media (max-width: 87.5em) {
        font-size: 50%;
    }
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

input, textarea {
    background: transparent;
    border: none;
    outline: none;
}

.hidden {
    display: none;
}

.wrapper {
    max-width: 144rem;
    min-width: 32rem;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 114rem;
    min-width: 32rem;
}

.title {
    @include font(3.8rem, initial, 0.15rem, "Montserrat");
    @include up;
}

@media (max-width: 51.2em) {
    .title {
        font-size: 2.5rem;
    }
    
}

.title-addition {
    margin-top: 0.3rem;
    text-align: center;
    @include font(1.7rem, initial, 0.12rem, "Merriweather");
    @include up;
}

.header {
    background-color: #efeff1;
    &__container {
        padding: 6.4rem 1.5rem 12.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__logo {
        align-self: flex-start;
        @include font(1.7rem, initial, initial, "Montserrat");
        @include bold;
        @include up;
    }
    &__title {
        margin-top: 19.5rem;
    }
    &__button {
        margin-top: 14.3rem;
        display: block;
    }
    &__icon {
        margin-top: -3.7rem;
        margin-right: 8.7rem;
        align-self: flex-end; 
    }
}

@media (max-width: 51.2em) {
    .header {
        &__container {
            padding: 3vw 1.5rem;
        }
        &__title {
            margin-top: 10vw;
        }
        &__button {
            margin-top: 10vw;
        }
        &__icon {
            margin-top: 1rem;
            margin-right: 0;
            align-self: auto;
        }
    }
}

@media (max-width: 43em) {
    .header {
        &__container {
            padding: 2vw 1rem;
        }
        &__title {
            margin-top: 10vw;
        }
        &__button {
            margin-top: 10vw;
        }
        &__icon {
            margin-top: 1rem;
            margin-right: 0;
            align-self: auto;
        }
    }
}

.logo {
    padding: 0.6rem 1rem;
    @include font(1.7rem, initial, initial, "Montserrat");
    border: 0.5rem solid #000000;
    &__accent {
        font-size: 2.1rem;
        color: #77efe5
    }
}

.header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include font(4.5rem, initial, 0.2rem, "Montserrat", #505050);
    @include bold;
    @include up;
    text-shadow: 0.9rem 0.9rem 1rem #0000003d;
    &__row {
        text-align: center;
    }
    &__accent {
        background-color: #75f3e9;
    }
}

@media (max-width: 51.2em) {
    .header-title {
        font-size: 2.8rem;
    }
}

.button {
    padding: 1.3rem 5.5rem;
    @include font(1.8rem, initial, initial, "Montserrat", #000000b3);
    @include up;
    border: 0.2rem solid #00000080;
    border-radius: 0.2rem;
    background-color: rgba(113, 245, 235, 0.5);
    transition: background-color 0.8s;
    &:hover {
        cursor: pointer;
        background-color: rgba(32, 219, 110, 0.918);
    }
}

.about {
    padding: 0 1rem;
    background: #f8f9fa;
    &__container {
        padding: 12.1rem 0 16.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__block {
        margin-top: 14.5rem;
        @include flex-hor-middle;
        flex-wrap: wrap;
    }
    &__image-block {
        flex-basis: 48.5%;
        text-align: center;
    }
    &__image {
        height: auto;
    }
    &__content-block {
        flex-basis: 45%;
    }
    &__content-block-title {
        @include font(2rem, 140%, initial, "Merriweather");
        @include bold;
        @include up;
        &:not(:first-child) {
            margin-top: 3.4rem;
            font-size: 1.7rem;
            letter-spacing: 0.1rem;
        }
    }
    &__content-block-text {
        margin-top: 2rem;
        @include font(1.6rem, 175%, 0.07rem, 'Raleway', #000000bd);
    }
}

@media (max-width: 51.2em) {
    .about {
        &__container {
            padding: 10vw 1.5rem 10vw 1.5rem;
        }
    }  
}

@media (max-width: 21.5em) {
    .about {
        &__block {
            margin-top: 4rem;
        }
    }    
}

@media (max-width: 43em) {
    .about {
        &__image-block {
            @include flex-center;
            flex-basis: 40%;
        }
    }  
}

@media (max-width: 32em) {
    .about {
        &__image-block {
            flex-basis: 90%;
        }
    }  
}

@media (max-width: 43em) {
    .about {
        &__image {
            vertical-align: middle;
            width: 95%;
        }
    }
    
}
@media (max-width: 32em) {
    .about {
        &__image {
            flex-basis: 90%;
            max-width: 40rem;
        }
    }
}

@media (max-width: 56.3em) {
    .about {
        &__content-block {
            margin-top: 4vw;
            flex-basis: 80%;
        }
    }
}


.works {
    padding: 0 1rem;
    background: #ffffff;
    &__container {
        padding: 11.8rem 0 12.8rem 0;
        text-align: center;
    }
    &__examples {
        margin-top: 11.8rem;
    }
}

@media (max-width: 102.4em) {
    .works__container {
        padding: 10vw 0 10vw 0;
    }
}

@media (max-width: 51.2em) {
    .works__examples {
        margin-top: 4vw;
    }
}

.examples {
    @include flex-center;
    flex-wrap: wrap;
    gap: 1rem 1.5rem;
    &__item {
        width: 32.4%;
        transition: box-shadow 0.7s;
        &:hover {
            cursor: pointer;
            box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.432);
        }
    }
    &__picture {
        position: relative;
        display: block;
        width: 100%;
        height: 0;
        padding-top: calc(360 / 370 * 100%);
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 85%;
            height: 85%;
            background: url("../images/load-icon.gif") no-repeat;
            background-position: center;
            background-size: contain;
            z-index: 0;
        }
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 3;
    }
}

@media (max-width: 51.2em) {
    .examples {
        &__item {
            width: 45%;
        }
    }  
}

@media (max-width: 21.3em) {
    .examples {
        &__item {
            width: 80%;
        }
    }
}

.team {
    padding: 0 1rem;
    background: #f9fafb;
    &__container {
        padding: 9rem 0 7.5rem 0;
        text-align: center;
        @media (max-width: 51.2em) {
            padding: 10vw 0 10vw 0;
        }
    }
    &__list {
        margin-top: 12rem;
        @media (max-width: 51.2em) {
            margin-top: 5vw;
        }
    }
}

.team-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem 0;
    &__item {
        position: relative;
        overflow: hidden;
        flex-basis: calc(33% - 0.8em);
        height: auto;
        font-size: 0;
        cursor: pointer;
        &:hover .team-list__info {
            display: block;
            left: 50%;
        }
    }
    &__image {
        width: 100%;
        height: 100%;
    }
    &__info {
        position: absolute;
        bottom: 0rem;
        left: -50%;
        padding: 4rem 11%;
        text-align: left;
        transform: translateX(-50%);
        margin-bottom: 1.5rem;
        width: 90.5%;
        background-color: #6bf5ecfa;
        transition: all 1s;
        &::after {
            content: "";
            position: absolute;
            top: -1.9rem;
            left: 2.1rem;
            display: block;
            height: 0;
            width: 0;
            border-width: 0rem 1.1rem 1.9rem 1.1rem;
            border-style: solid;
            border-color: transparent;
            border-bottom-color:#6bf5ecfa;
        }
    }
    &__title {
        @include font(2rem, initial, 0.05rem, "Merriweather", #000000f2);
    }
    &__title-addition {
        @include font (1.5rem, initial, initial, initial, #767070, italic);
    }
    &__text {
        margin-top: 1.5rem;
        text-align: left;
        @include font (1.6rem, 160%, 0.015rem, "Raleway", #000000);
    }
    &__social {
        margin-top: 3.2rem;
    }
}

@media (max-width: 51.2em) {
    .team-list {
        justify-content: space-evenly;
        &__item {
            flex-basis: 40%;
        }
    } 
}

@media (max-width: 38.4em) {
    .team-list {
        &__item {
            flex-basis: 60%;
        }
    }
}

.social-list {
    display: flex;
    gap: 0 1.2rem;
    &__icon {
        transition: transform 0.8s;
        &:hover {
            transform: scale(1.4);
        }
    }
}

.contact {
    padding: 0 1rem;
    position: relative;
    background: url("./../images/contact/contact-bg.webp") no-repeat center;
    background-size: cover;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: #ffffffb6
    }
    &__container {
        padding: 23rem 0 12.5rem 0;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0 10px;
    }
    &__block {
        background: #021523b5;
    }
    &__form {
        padding: 4.5rem 3.3rem 3.5rem 3.1rem;
        flex-basis: 53.95%;
    }
    &__block2 {
        flex-basis: 43.9%;
    }
    &__text {
        @include font(1.5rem, initial, initial, "Raleway", #ffffff99);
    }
}

@media (max-width: 43.8em) {
    .contact {
        padding: 0;
    }  
}

@media (max-width: 65em) {
    .contact {
        &__container {
            padding: 10vw 0 10vw 0;
            justify-content: center;
        }
    } 
}

@media (max-width: 51.2em) {
    .contact {
        &__form {
            flex-basis: 85%;
        }
    }
}

@media (max-width: 51.2em) {
    .contact {
        &__block2 {
            margin-top: 2rem;
            flex-basis: 85%;
        }
    }
}

.contact-block2 {
    display: flex;
    flex-direction: column;
    padding: 3.0rem 2.3rem 1.7rem 2.2rem;
    &__text-wrap {
        padding: 0 1rem;
    }
    &__text {
        line-height: 170%;
    }
    &__map {
        margin-top: 2rem;
        align-self: center;
        width: calc(100% - 1rem);
    }
}

@media (max-width: 43.8em) {
    .contact-block2 {
        padding: 4vw 1vw;
    }  
}

.contact-form {
    display: flex;
    flex-direction: column;
    &__input {
        padding-bottom: 1.5rem;
        border-bottom: 0.1rem solid #ffffff99;
        overflow: hidden;
        &--big {
            padding-bottom: 7rem;
            resize: none;
            overflow: auto;
        }
        &:not(:first-child) {
            margin-top: 2.6rem;
        }
    }
    &__button {
        margin-top: 4rem;
        align-self: flex-start;
        padding: 1.5rem 3.6rem;
        @include font (1.8rem, initial, 0.2rem "Montserrat", #000000);
        @include up;
        background: #6dede3;
        transition: transform 0.8s;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

@media (max-width: 43.8em) {
    .contact-form {
        &__button {
            align-self: center;
            padding: 2rem;
        }
    }
}

.footer {
    padding: 9rem 0 15rem 0;
    background: #262a2e;
    &__title {
        text-align: center;
        @include font(1.6rem, initial, 0.1rem, "Raleway", #ffffff);
        @include up;
    }
}

@media (max-width: 51.2em) {
    .footer {
        padding: 4rem 1rem;
    } 
}


.social {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    &__item {
        width: 4.5rem;
        height: 4rem;
    }
    &__link {
        display: flex;
        @include flex-center;
        width: 100%;
        height: 100%;
        background-color: #8a8a8a66;
        box-shadow: 0rem 0.1rem 0.2rem #8a8a8a66;
        overflow: hidden;
        transition: all 1s;
        &:hover {
            background-color: #71f5eb;
            box-shadow: 0rem 0.1rem 0.2rem #71f5eb;
            & .social__icon g {
                fill: #000000;
            }
        }
    }
    &__icon {
        height: 2.2rem;
        & g {
            fill: #ffffff;
            transition: fill 1s;
        }
    }   
}
