@import "./navigation.scss";
@import "./root.scss";

@font-face {
  font-family: "StarWars";
  src: url(../fonts/Sterilict-L3aen.ttf);
}
@font-face {
  font-family: "Jedi";
  src: url(../fonts/StarJediOutline-y0xm.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  padding: 1rem;
  font-family: "StarWars";
  background: url("../images/star-bg.jpg");
  background-size: 100%;
  animation:  500s moveSpace linear infinite;
}

@keyframes moveSpace {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 5000% 5000%;
  }
}

.app {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 160rem;
  &__header {
    z-index: 100;
  }
  &__main {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  &__cards {
    flex-grow: 1;
  }
}
