.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  &__item {
    margin: 1remx;
    padding: 0.8rem;
    width: 20%;
  }
}

.card {
  margin: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: flex-start;
  width: 20%;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-shadow: 0.3rem 0.3rem 0.1rem var(--black);
  background-color: var(--traysparent-grey);
  transition: background-color 0.8s;
  &:hover {
    cursor: pointer;
    background-color: var(--purple);
  }
  &__content-container {
    position: relative;
    display: none;
  }
  &__title {
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    position: relative;
    font-size: 1.6rem;
    line-height: 100%;
    color: var(--gold);
    text-transform: uppercase;
  }
  &__text {
    position: relative;
    margin-top: 0.8rem;
    font-size: 1.2rem;
    line-height: 120%;
    color: var(--white);
    opacity: 0;
    &--capitalize {
      text-transform: capitalize;
      color: var(--light-blue);
    }
  }
  &--active &__content-container {
    display: block;
  }
  &--active &__text--active {
    animation: cardText 0.5s ease-in;
    animation-fill-mode: forwards;
  }
}

@media (max-width: 130em) {
  .card {
    width: 30%;
  }
}
@media (max-width: 80em) {
  .card {
    width: 45%;
  }
}

@media (max-width: 55.9em) {
  .card {
    width: 90%;
  }
}

@keyframes cardText {
  from {
    opacity: 0;
    left: -100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
