.nav {
  padding: 1rem;
  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--light-blue);
  }
  &__item {
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
    background-color: var(--light-grey);
    font-family: "Jedi";
    font-size: 1.8rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    &--active,
    &:hover {
      cursor: pointer;
      background: var(--pink);
      box-shadow: 0.1rem 0.1rem 0.4rem var(--black);
    }
  }
}

@media (max-width: 37.5em) {
  .nav {
    &__item {
      font-size: 1.2rem;
    }
  }
}
