.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: pink;
    &__item {
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        background-color: rgba(50, 205, 120, 0.836);
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        &--active {
            background-color: rgb(72 33 94 / 84%)
        }
    }
}