:root {
  --light-blue: #638ecfa6;
  --pink: #c41a1ab0;
  --gold: #ffd700;
  --light-grey: #746e6fbd;
  --traysparent-grey: #c394941f;
  --mint: #32cd78d5;
  --purple: #48215ed6;
  --black: #000000;
  --white: #ffffffe3;
}
